@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,700&display=swap');

body {
  font-family: Roboto Mono, monospace, serif;
  font-size: 16px;
  margin: 0;
}

#container {
  box-sizing: border-box;
  padding: 20px 20px;
  max-width: 50%;
  display: grid;
  align-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  margin: 1em;
  position: fixed;
}

code {
  font-family: Roboto Mono, monospace, serif;
  color: white;
  background-color: #777777;
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
}

#container p {
  text-align: center;
}

#start {
  padding: 1em;
  background: #ffffff;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 0.05em;
  border: 1px solid grey;
  border-radius: 0.5em;
  transition: background-color 100ms ease-in-out,
              color 100ms ease-in-out;
}

#start:hover {
  background: #6aa6e1;
  color: white;
  border: 1px solid #6aa6e1;
}

#start:focus {
  outline: 0;
}

#result {
  font-weight: 100 !important;
  text-align: center;
  font-size: 2em;
}

#loading {
  margin: 0 auto;
}

#start:active {
  background: #408dd8;
}

#footer {
  background: lightgrey;
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}

#footer a {
  text-decoration: none;
}

#footer-heart {
  color: #c0392b;
}
